body{
    font-weight: normal;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-weight: bold;
}
.container{
    width: 1178px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    margin: 15px auto;
}
header .container .header_content{
    display: flex;
    justify-content: space-around;
}
header .container .header_content .header_title h3{
    color: deeppink;
}
header  .container .header_content .header_list ul{
    display: flex;
}
header  .container .header_content .header_list ul li{
    list-style: none;
    align-self: center;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid #6c757da6;
}
header  .container .header_content .header_list ul li:first-child{
    border: none;
}
header  .container .header_content .header_list ul li a{
    color: palevioletred;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}
header  .container .header_content .header_list ul li a:hover{
    color:deeppink;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}
section.jobtype .container form{
    display: flex;
    justify-content: space-evenly;
}
section.jobtype .container form select{
    width: 160px;
}
section.jobtype .container .checkbox{
    display: flex;
    justify-content: space-evenly;
}
section.jobtype .container .checkbox .selection{
    display: flex;
    margin-right: 70px;
}
section.jobtype .container .checkbox .selection input{
    align-self: center;
}
section.jobtype .container .checkbox .selection p{
    font-size: 14px;
    color: #4e555b;
}
section.jobtype .container .cost{
    display: flex;
    justify-content: space-evenly;
}
section.jobtype .container .cost .money{
    display: flex;
}
section.jobtype .container .cost .money span{
    align-self: center;
    margin-right: 5px;
}
section.map{
    margin-top: 20px;
}
section.map .jobs {
    display: flex;
    margin-left: 97px;
}
section.map .jobs .types{
    flex: 0 0 33.333%;
}
section.map .jobs .types ul li{
    list-style: none;
    display: flex;
}
section.map .jobs .types ul li  input{
    align-self: center;
}
section.map .jobs .types ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    padding-left: 5px;
}
section.map .container .map_icon{
    display: flex;
    margin-left: 120px;
}
section.map .container .map_icon p{
    align-self: center;
    font-size: 20px;
}
section.map .container .map_icon span{
    padding-left: 5px;
    align-self: center;
    font-size: 20px;
}
section.map .container .map{
    margin: 15px auto;
    width: 800px;
}
section.map .container .map img{
    width: 100%;
}
section.offers {
    margin-top: 30px;
}
section.offers .container .offer_content{
    display: flex;
    justify-content: space-around;
}
section.offers .container .offer_content .suggestion .note-item{
        width: 300px;
}
section.offers .container .offer_content .suggestion .note-item img{
    width: 100%;
}
section.offers .container .offer_content .suggestion .offer-title p{
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    color: #000000;
}
section.offers .container .offer_content .suggestion .offer-cost p{
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    color: deeppink;
    font-weight: bold;
}
section.offers .container .offer_content .suggestion .cost-hourly p{
    color: #34ce57;
    font-weight: bold;
    font-size: 17px;
}
@media (max-width: 575px){
    .container{
        width: 100%;
        padding: 0;
    }
    header .container .header_content{
        flex-wrap: wrap;
    }
    header .container .header_content .header-_title{
        margin: auto;
    }
    header .container .header_content .header_list ul li a {
        font-size: 13px;
    }
    header .container .header_content .header_list ul{
        padding: 0;
    }
    section.jobtype .container form{
        width: 200px;
        margin: auto;
        flex-wrap: wrap;
    }
    section.jobtype .container form select{
        width: 196px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    section.jobtype .container .checkbox{
        flex-wrap: wrap;
        margin: auto;
    }
    section.jobtype .container .cost{
        flex-wrap: wrap;
        margin: auto;
    }
    section.jobtype .container .cost .money{
        display: flex;
        flex-flow: column;
        padding-left: 6px;
    }
    section.map .jobs{
        flex-wrap: wrap;
        margin-left: 25px;
    }
    section.map .jobs .types{
        flex: auto;
    }
    section.map .jobs .types ul li a{
        font-size: 13px;
    }
    section.map .container .map_icon{
        margin: 0;
    }
    section.map .container .map{
        width: 200px;
    }
    section.offers .container .offer_content{
        flex-wrap: wrap;
    }
    section.offers .container .offer_content .suggestion .note-item{
        width: 190px;
    }
    section.offers .container .offer_content .suggestion .offer-cost p{
        font-size: 12px;
    }

}
@media (min-width: 576px) and (max-width: 767px){
    .container {
        width: 100%;
        padding: 0;
    }
    section.map .jobs{
        margin: 0;
    }
    section.jobtype .container .checkbox .selection{
        margin: 0;
    }
    section.jobtype .container form select{
        width: 125px;
    }
    section.map .jobs .types ul{
        padding: 0;
    }
    section.map .jobs .types ul li a{
        font-size: 12px;
    }
    section.map .container .map{
        width: 507px;
    }
    section.offers .container .offer_content .suggestion .note-item{
        width: 226px;
    }
    p{
        font-size: 12px;
    }
    section.offers .container .offer_content{
        margin-left: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container {
        width: 100%;
        padding: 0;
    }
    section.map .jobs{
        margin: 0;
    }
    section.map .jobs .types ul li a{
        font-size: 15px;
    }
    section.map .container .map{
        width: 675px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .container {
        width: 100%;
        padding: 0;
    }
}



