/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
header {
  background-image: url(../img/headerback.png);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container .header_wrapp {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 66px;
  position: relative;
}
header .container .header_wrapp .logo_type .vectors {
  height: 50px;
  width: 78px;
  padding-bottom: 50px;
}
header .container .header_wrapp .logo_type .vectors img {
  width: 100%;
}
header .container .header_wrapp .logo_type .finder p {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}
header .container .header_wrapp .menu ul {
  display: flex;
  position: absolute;
  left: 123px;
}
header .container .header_wrapp .menu ul li {
  padding-left: 50px;
}
header .container .header_wrapp .contact {
  position: absolute;
  right: 30px;
  top: 30px;
}
header .container .header_wrapp .contact .number p {
  font-size: 24px;
  font-weight: 700;
}
header .container .header_wrapp .contact .number p:last-child {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}
footer .container {
  background-color: #1f2021;
  padding: 0 15px;
}
footer .container .footer_wrapp {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 92px;
}
footer .container .footer_wrapp .buy p {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
footer .container .footer_wrapp .buy p:last-child {
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
footer .container .footer_wrapp form {
  display: flex;
  margin-top: 33px;
}
footer .container .footer_wrapp form input {
  display: inline;
  width: 300px;
  height: 65px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 35px;
}
footer .container .footer_wrapp form input:nth-child(even) {
  width: 250px;
  background: #6ebbd3;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 0;
  margin-left: 16px;
  align-self: center;
}
footer .container .footer_wrapp input {
  margin-top: 25px;
}
section.items .container .choose_type {
  display: flex;
  justify-content: flex-start;
}
section.items .container .choose_type p {
  font-weight: 700;
  color: #000;
}
section.items .container .choose_type ul {
  display: flex;
}
section.items .container .choose_type ul li {
  color: #000;
  padding-left: 50px;
}
section.items .container .choose_type ul li span {
  padding-left: 15px;
  font-size: 18px;
}
section.items .container .cats {
  display: flex;
  flex-wrap: wrap;
}
section.items .container .cats #types {
  margin: 38px 0px 27px 0px;
  flex: 0 0 33.3333%;
  position: relative;
}
section.items .container .cats #types .image {
  height: 264px;
  width: 380px;
}
section.items .container .cats #types .image img {
  width: 100%;
}
section.items .container .cats #types .description {
  background-color: #f3f3f3;
  height: 192px;
  width: 380px;
  left: 0px;
  top: 228px;
  position: absolute;
}

section.items .container .cats #types .description .title {
  padding-left: 30px;
}
section.items .container .cats #types .description .title p {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #000;
}
section.items .container .cats #types .description .details {
  display: flex;
}
section.items .container .cats #types .description .details p {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #000;
  position: relative;
}
section.items .container .cats #types .description .details p:before {
  content: url();
  width: 4px;
  height: 26px;
  left: 158px;
  top: 695px;
  background: #6ebbd3;
  position: absolute;
}
