/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
header {
  background-image: url(../img/headerback.png);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container .header_wrapp {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 66px;
  position: relative;
}
header .container .header_wrapp .logo_type .vectors {
  height: 50px;
  width: 78px;
  padding-bottom: 50px;
}
header .container .header_wrapp .logo_type .vectors img {
  width: 100%;
}
header .container .header_wrapp .logo_type .finder p {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}
header .container .header_wrapp .menu ul {
  display: flex;
  position: absolute;
  left: 123px;
}
header .container .header_wrapp .menu ul li {
  padding-left: 50px;
}
header .container .header_wrapp .contact {
  position: absolute;
  right: 30px;
  top: 30px;
}
header .container .header_wrapp .contact .number p {
  font-size: 24px;
  font-weight: 700;
}
header .container .header_wrapp .contact .number p:last-child {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.footer .container .footer_wrapp {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 92px;
  background-color: #1f2021;
}
.footer .container .footer_wrapp .buy p {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.footer .container .footer_wrapp .note {
  margin-left: 20px;
}
.footer .container .footer_wrapp .buy p:last-child {
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.footer .container .footer_wrapp form {
  display: flex;
  margin-top: 33px;
  margin-right: 20px;
}
.footer .container .footer_wrapp form input {
  display: inline;
  width: 300px;
  height: 65px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 35px;
}
.footer .container .footer_wrapp form input:nth-child(even) {
  width: 250px;
  background: #6ebbd3;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 0;
  margin-left: 16px;
  align-self: center;
}
.footer .container .footer_wrapp input {
  margin-top: 25px;
}
section.items .container .choose_type {
  display: flex;
  justify-content: flex-start;
}
section.items .container .choose_type p {
  font-weight: 700;
  color: #000;
}
section.items .container .choose_type ul {
  display: flex;
}
section.items .container .choose_type ul li {
  color: #000;
  padding-left: 50px;
}
section.items .container .choose_type ul li span {
  padding-left: 15px;
  font-size: 18px;
}
section.items .container .cats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 27px;
}
section.items .container .cats #types {
  margin: 38px 0px 15px 0px;
  flex: 0 0 30.3333%;
  height: 505px;
  width: 380px;
  background-color: #f3f3f3;
  margin-left: 21px;
}
section.items .container .cats #types:first-child {
  margin-left: 0;
}
section.items .container .cats #types .image {
  position: relative;
}
section.items .container .cats #types .image:after {
  content: url(../img/heart.png);
  position: absolute;
  width: 46px;
  height: 40px;
  color: rgba(255, 255, 255, 0.5);
  right: 31px;
  top: 36px;
}
section.items .container .cats #types .image:after {
  content: "40%";
  position: absolute;
  background-color: #e62d2d;
  width: 68px;
  height: 39px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  font-weight: 700;
}

section.items .container .cats #types:nth-child(4) {
  margin-left: 0;
}
section.items .container .cats #types .image img {
  width: 100%;
}
section.items .container .cats #types .description .title {
  padding-left: 30px;
}
section.items .container .cats #types .description .title p {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #000;
}
section.items .container .cats #types .image img {
  width: 100%;
}

section.items .container .cats #types .description .title {
  padding-left: 30px;
}
section.items .container .cats #types .description .title p {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #000;
}
section.items .container .cats #types .description .details {
  display: flex;
}
section.items .container .cats #types .description .details p {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #000;
  position: relative;
  padding-left: 45px;
}
section.items .container .cats #types .description .details p span {
  font-weight: 700;
}
section.items .container .cats #types .description .cost {
  padding-left: 30px;
}
section.items .container .cats #types .description .cost p {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

section.items
  .container
  .cats
  #types
  .description
  .details
  p:first-child:before {
  content: url();
  width: 4px;
  height: 26px;
  left: 20px;
  top: 2px;
  background: #6ebbd3;
  position: absolute;
}

section.items .container .cats #types .button button {
  width: 359px;
  height: 65px;
  background: #6ebbd3;
  border: 1px solid #6ebbd3;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  cursor: pointer;
}
section.items .container .cats #types .button button:hover {
  background-color: rgb(74 28 34 / 1);
  border: 1px solid rgb(74 28 34 / 1);
}
section.items .container .cats #types .button button#saled {
  background-color: #1f2021;
  border: 1px solid #1f2021;
}
section.items .container .cats #types .button button#saled:hover {
  background: #6ebbd3;
  border: 1px solid #6ebbd3;
}
section.items .container .cats #types .button button a {
  font-weight: 700;
  font-size: 16px;
}
section.items .container .else {
  padding-top: 65px;
  padding-bottom: 107px;
  text-align: center;
}
section.items .container .else button {
  width: 380px;
  height: 65px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
section.items .container .else a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
  cursor: pointer;
}
section.items .container .else a:hover {
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  header {
    background-position: center;
  }
  header .container .header_wrapp .logo_type {
    margin-left: 20px;
  }

  section.items .container .cats #types .button button {
    width: 353px;
  }
  section.items .container .choose_type {
    margin-left: 22px;
  }
  section.items .container .cats #types {
    margin-left: 0;
  }
}
@media screen and (max-width: 1122px) {
  header {
    background-position: top;
  }
  section.items .container .cats #types {
    width: 332px;
  }
  section.items .container .cats #types .button button {
    width: 332px;
  }
  section.items .container .cats #types .description .details p {
    padding-left: 35px;
  }
}
@media screen and (max-width: 1085px) {
  .footer .container .footer_wrapp form input {
    width: 225px;
  }
  .footer .container .footer_wrapp form input:nth-child(2n) {
    width: 228px;
  }
}
