/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.header_wrapP {
  background-image: url(../img/);
}
