/** @format */

* {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #1a1b22;
}

body {
  background-color: #f4f2f2;
}

.container {
  width: 2054px;
  margin: 0 auto;
}
header {
  background-color: #fff;
  
  
  .top__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    header-img{
      width: 100px;
      height: 100px;
    }
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    a {
      padding: 1.95rem;
    }
    a:hover {
      background-color: #750d23;
      color: #fff;
      border-radius: 5px;
    }
  }
}

.lang {
  display: flex;
  a {
    margin-left: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    img{
      width: 100%;
    }
  }
  a:hover{
    border:none
  }
}
 
  .wrapper{
    display: flex;
    justify-content: center;
    z-index: -1;
    width: 700px;
    margin: 0 auto;
    h3{
      text-align: center;
      padding-top: 25px;
    }
  }
  .item-img{
    width: 700px;
    height: 500px;
    margin: 0 auto;
  }
  section.membership{
    
  }
section.map{
  border:2px solid #a7a7a7;
  border-radius: 5px;
  padding-top: 30px;
}
  .f_top{
    background-color: #000;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px;
    }
    .social {
      ul{
        display: flex;
        list-style: none;
        li{
          padding-left: 15px;
          a{
            font-size: 30px;
            color: #fff;
          }
        }
      }
    }
  }
footer {
  background-color: #410404;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    padding: 20px 30px;
  }
}
/*shop-page********************************/
.headerbottom{
  display: flex;
  padding:30px 25px;
  align-items:center;
  justify-content:space-between;
  .privacy{
    span{
      color: #750d23;
      padding-left: 5px;
    }
    a{
      font-size:16px;
      font-weight:400;
    }
    a:hover{
      border-bottom: #410404;
    }
  }
}
.search_box {
  input {
  border: medium none;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  border-radius:8px;
  outline: medium none;
  padding-left: 10px;
  }
} 
@media only screen and (max-width: 2560px){
  .container{
    width: 100%;
  }
  header{
    .top__header{
      .header-logo{
        width: 80px;
        height: 80px;
      }
    }
    ul{
      a{
        padding: 0.95rem;
      }
    }
    
  }
}