body
    font-family: 'Griloy', sans-serif
    font-weight: 400
    font-style: normal
    font-size: 14px
    color: #FFFFFF
    background-color: #1F1F2C
a
    text-decoration: none
    font-size: 14px
    color: #FFFFFF
    font-weight: 600
h5
    font-size: 25px
    font-weight: 600
    color: #FFFFFF
button
    border: 1px solid #FF5500
    border-radius: 5px
    background-color: #FF5500
    width: 190px
    height: 42px
img
    width: 100%
.window__top
    padding-top: 41px
    display: flex
.window__close
    margin-left: 35px
.top__logo
    width: 98px
    height: 30px
    margin: 0 auto
.main__slider
    display: flex
    justify-content: space-around
.swiper-pagination-bullet
    width: 10px
    height: 10px
    margin: 0 15px
    background-color: tomato
    opacity: 1

.swiper-pagination-bullet-active
    background-color: #000000
    border-radius: 56px
    opacity: 0.5
    width: 122px
    height: 112px

.swiper-button-prev,
.swiper-button-next
    position: static
    margin-left: 10px

.swiper-container
    padding: 100px 0

.swiper-slide
    opacity: 0.5
    transition: transform 0.5s

.swiper-slide-active
    transform: scale(1.2)
    opacity: 1
    transition: transform 0.5s
