*{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #383736;
    font-weight: 700;
}
body{
    background-color: #E5E5E5;
    max-width: 1280px;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 6px;
    background-color: #fff;
    padding: 40px 0;
    position: relative;

}
.pop-up{
    position: absolute;
    right:17px;
    top: 16px;
   
}
.pop-up svg{
    fill: #B2B0AB;
}
.pop-up:hover{
    cursor: pointer;
    background-color: #F5F4F2;
    border-radius: 4px;
}
.pop-up:hover >svg{
    fill:#000;
}
.pop-up:active{
    background-color: #E7E4DE;
}

section.content .content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.content .content-wrap .sec-apartment{
    margin-top: 12px;
    flex: 0 0 45%;
}
section.content .content-wrap .sec-apartment h4{
    text-align: left;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

section.content .content-wrap .sec-apartment .media{
display: none;
}
section.content .content-wrap .sec-apartment table th{
    text-align: left;
    padding: 7px 40px ;
    font-weight: 400;
    line-height: 16px;
    color: #989691;
}
section.content .content-wrap .sec-apartment table th:first-child{
    padding-left: 0;
}
section.content .content-wrap .sec-apartment table td{
    text-align: left;
    padding-left: 40px;
    font-weight: 500;
    font-size: 14px;
}
section.content .content-wrap .sec-apartment table td:first-child{
    padding-left: 0;
}
section.content .content-wrap .sec-apartment .position{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    
}
section.content .content-wrap .sec-apartment .position .accept{
    background-color: #F2FAF0;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
section.content .content-wrap .sec-apartment .position .accept a{
    color: #64B851;
    font-weight: 500;
    padding-left: 5px;

}
section.content .content-wrap .sec-apartment .position .decline{
    background-color: #F2FAF0;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
section.content .content-wrap .sec-apartment .position .decline a{
    color: #EB4B51;
    font-weight: 500;
    margin-left: 5px;
}
section.content .content-wrap .cost{
    margin-right: 33px;
    position: relative;
}
section.content .content-wrap .cost:before {
    left: -29px;
    content: url(./);
    width: 100%;
    border-right: 1px solid #F0EEEB;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: 13px;
    height: 100%;
}
section.content .content-wrap .cost p{
    font-weight: 400;
    color: #989691;
    font-size: 14px;
}
section.content .content-wrap .cost p a{
    text-decoration: none;
    color: #2794DB;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

}
section.content .content-wrap .cost p a:hover{
    border-bottom: 2px solid #2794DB;
}
section.content .content-wrap .cost .cost-number p{
    color: #383736;
    font-weight: 700;
    font-size: 24px;
}
section.content .content-wrap .cost .description p{
   font-weight: 400;
   font-size: 14px;
   color: #989691;
   line-height: 20px;
}
section.content .content-wrap .cost .description p span{
    color: #EB4B51;
    font-weight: 500;
}
section.content .content-wrap .cost .btn{
    background-color: #FAC62D;
    border: 1px solid #FAC62D;
    border-radius: 6px;
    padding: 12px 24px;
    display: flex;
    width: 100%;
   align-items: center;
   justify-content: center;
}
section.content .content-wrap .cost .btn:hover{
    cursor: pointer;
    background-color: #F0B505;
    border: 1px solid #F0B505;
}
section.content .content-wrap .cost .btn:active{
    background-color: #E1AB08;
    border:1px solid #E1AB08;
}
section.content .content-wrap .cost .btn a{
    padding-left: 8px;
}
@media only screen and (max-width: 1200px){
    .container{
        max-width: 90%;
    }
    .pop-up{
        right: 14px;
    }
    section.content .content-wrap .sec-apartment{
        flex: 0 0 55%;
    }
}
@media only screen and (max-width: 1124px){
    section.content .content-wrap .cost .btn a{
        font-size: 11px;
    }
    section.content .content-wrap .cost .btn{
        padding: 12px 0px;
        justify-content: center;
    }
    section.content .content-wrap .cost{
        margin-right: 11px;
    }
}
@media only screen and (max-width: 1080px){
    section.content .content-wrap .sec-apartment table th{
        padding:7px 25px;
    }
    section.content .content-wrap .sec-apartment table td{
        padding-left: 25px;
    }
    section.content .content-wrap .sec-apartment .position{
        margin-left: 0;
    }
    section.content .content-wrap .sec-apartment .position .decline{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 979px){
    section.content .content-wrap .sec-apartment{
        flex: 0 0 58%;
    }
    
    section.content .content-wrap .sec-apartment table th {
        padding: 7px 10px;
    }
    section.content .content-wrap .sec-apartment table td {
        padding-left: 9px;
    }
   
    section.content .content-wrap .sec-apartment .position .accept a{
        font-size: 11px;
    }
    section.content .content-wrap .sec-apartment .position .decline{
        margin-left: 5px;
    }
    section.content .content-wrap .cost p{
        font-size: 13px;
    }
    section.content .content-wrap .cost .cost-number p {
        color: #383736;
        font-weight: 700;
        font-size: 21px;
    }
    section.content .content-wrap .cost .description p {
        font-size: 12px;
    }
    section.content .content-wrap .sec-apartment {
        margin-top: 12px;
        flex: 0 0 35.333%;
    }
    section.content .content-wrap{
        align-items: flex-start;
    }
}

@media only screen and (max-width: 928px){
    .container{
       max-width: 864px;
    }
    table{
        display: none;
    }
    section.content .content-wrap .sec-apartment .media{
        display: block;
    }
    section.content .content-wrap .sec-apartment .position{
        flex-direction: column;
    }
    section.content .content-wrap .sec-apartment .position .accept {
        margin-bottom: 15px;
    }
    section.content .content-wrap .sec-apartment .position .decline {
        margin-left: 0;
    }
    section.content .content-wrap .cost .btn{
        padding: 12px 16px

    }
    section.content .content-wrap .cost .btn a{
        font-size: 14px;
    }
    section.content .content-wrap .cost .description p{
        font-size: 14px;
    }
    section.content .content-wrap .cost .cost-number p{
        font-size: 24px;
    }
    section.content .content-wrap .cost p {
        font-size: 14px;
    }
    section.content .content-wrap .sec-apartment .position .accept a{
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px){
    .container{
        max-width: 712px;
    }
    section.content .content-wrap{
        flex-wrap: wrap;
    }
    section.content .content-wrap .sec-apartment {
        margin-top: 0; 
        flex: 0 0 67.333%;
    }
    section.content .content-wrap .sec-apartment .position {
        margin-left: 0;
        flex-direction: row;
    }
    section.content .content-wrap .sec-apartment .position .accept {
        margin-bottom: 0;
        padding: 10px 10px;
    }
    section.content .content-wrap .sec-apartment .position .decline {
        padding: 10px 10px;
        margin-left: 21px;
    }
    section.content .content-wrap .cost {
        margin-right: 0;
        margin-top: 50px;
        margin-left: 28px;
        flex: 0 0 87%;
    }
    section.content .content-wrap .cost::after {
        left: 2px;
        content: url(./);
        width: 100%;
        border-top: 1px solid #F0EEEB;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        position: absolute;
        top: -16px;
        height: 100%;
        border-left: none;
    }
    section.content .content-wrap .cost::before {
        display: none;
    }
}
@media only screen and (max-width: 752px){
    .pop-up{
        right: 16px;
    }
}
@media only screen and (max-width: 699px){
    .container{
        max-width: 100%;
    }
    section.content .content-wrap{
        justify-content: center;
    }
     .content-wrap .image-block{
       
        margin-bottom: 23px;
    }
    section.content .content-wrap .sec-apartment table th{
        padding: 10px 54px;
    }
    section.content .content-wrap .sec-apartment table td {
        padding-left: 54px;
    }
    section.content .content-wrap .sec-apartment .position{
        flex-direction: column;
    }
   
    section.content .content-wrap .sec-apartment .position .accept {
        margin-bottom: 18px;
        padding: 11px 8px;
        justify-content: center;
        width: 52%;
    }
    section.content .content-wrap .sec-apartment .position .decline{
        margin-left: 0;
    }
    
}
@media only screen and (max-width: 330px){
    section.content .content-wrap .cost{
        margin-left: 0;
    }
    section.content .content-wrap .sec-apartment {
        margin-top: 0;
        flex: 0 0 80%;
        margin-left: 20px;
    }
}