/** @format */

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraBlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraLightItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Heavy.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-HeavyItalic.otf");
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Medium.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

body {
  max-width: 1440px;
  position: relative;
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 50%;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

img {
  max-width: 100%;
}

.yellow_part {
  display: flex;
  justify-content: space-between;
  background-color: #f4e63c;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}


section.wrap {
  position: relative;
}

.limited_wrapper {
  position: relative;
  display: flex;

  .top_symbol {
    margin-top: 38px;
    margin-left: 32px;
  }
}

.left_col {

  display: flex;
  flex-wrap: wrap;
  margin-top: 88px;
  background-image: url(../img/left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 100%;
  border: 1px solid #f4e63c;
}

.peremennie {
  margin-left: 70px;
  margin-top: 70px;

  span {
    display: block;
    font-size: 14px;
    padding-bottom: 50px;
    font-family: 'Geometria';
    font-weight: 200;
  }
}

.flex_hor {
  display: flex;
  position: absolute;
  left: 154px;
  top: 133px;
  z-index: 1000;

  .horizontal_text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: flex-end;

    p {
      font-size: 9px;
      font-family: "Geometria";
      font-weight: 200;
      font-style: italic;
    }
  }
}

.horizontal_num {
  margin-top: 44px;
  margin-right: 173px;
}


.square {
  width: 180px;
}

.giometric_symbols {
  max-width: 100%;
  padding-left: 69px;
  margin-top: 85px;

}

/***************menu*/
///////
.navbar {
  margin-top: 90px;
}

.navbar-button {
  position: relative;
  display: block;
  margin-top: 42px;
}

.button {
  cursor: pointer;
  position: relative;

  i {
    font-size: 22px;
    position: absolute;
    right: -459px;
    top: -5px;
  }
}

.button:before {
  content: url(../img/button.png);
  position: absolute;
  right: -477px;
  top: -22px;
}

.overlay {
  position: fixed;
  background: #f7e611;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 10000;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.close-menu {
  display: block;
}

.overlay.open {
  ul {
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 190px auto;
    height: 100%;
    width: 100%;

    li {
      padding-bottom: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}

/*menu/end*********************/
.top_gio {
  max-width:100%;
  position: absolute;
  z-index: 15;
  right: 264px;
  top: 75px;
}


.symbol {
  position: absolute;
  left: 556px;
  max-width: 100%;
  z-index: 1;
  bottom: -122px;
}

.symbol:after {
  content: url("");
  position: absolute;
  width: 214px;
  height: 10px;
  background-color: rgb(247, 230, 17);
  bottom: -10px;
  left: -20px;
  
}

/*************right_col////////////////**/
.right_col {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 395px;
  top: 183px;
  z-index: 1;
  max-width:100%;
  height: 420px;
  border: 1px solid #f4e63c;

  .top_gio {
    max-width: 100%;
    position: absolute;
    top: -100px;
    right:233px;
    z-index: -1;
  }
}

.yellow_part {
  position: relative;
}

.ural {
  padding: 34px 84px;

  p {
    font-size: 17px;
    font-weight: 400;
    font-family: Giometria;
    color: #fff;
    padding: 15px 15px;
    border-radius: 50%;
    border: 1px solid #000;
    max-width: 42px;
  }
}

/*******************slider/swiper.js**************/
.swiper-container {
  margin-top: 90px;
  max-width: 138px;
  overflow: hidden;

  .swiper-wrapper {
    display: flex;
    transition: 2s;

    .swiper-slide {
      background-color: #f7e611;
      max-width: 100%;
      height: 260px;
      position: relative;
      display: flex;
      flex-direction: column;


      p {
        font-size: 45px;
        color: #000;
        font-family: 'Giometria';
        font-weight: 800;
        font-style: italic;
        padding: 0px 44px;
        margin-top: 170px;
        margin-block-end: 2px;

      }

      p:last-child {
        margin-left: 47px;
        font-size: 17px;
        position: relative;
        margin-top: 0;
        margin-block-start: 2px;
        margin-block-end: 2px;
      }

      p:last-child:before {
        content: url("");
        position: absolute;
        background-color: #000;
        height: 2px;
        width: 10px;
        top: -16px;
      }
    }
  }

  .slider_button {

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 120px;
      right: 258px;
      cursor: pointer;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 24px;
      color: #a19829;
    }

    .swiper-button-next {
      right: -8px;
    }
  }
}

.giometric_right {
  margin-left: 334px;
  margin-top: 36px;
  max-width:100%;
}



/**********mediaa*/
@media(max-width: 1320px){
  .container{
    max-width: 1160px;
  }
  .navbar {
    margin-top: 65px;
  }
  .limited_wrapper {
    .top_symbol {
      margin-left: 0;
    }
  }
  .symbol {
    left: 501px;
  }
  .right_col {
    .top_gio {
      right:141px;
    }
  }
  .button{
    i{
      right: -421px;
    }
  }
  .button:before{
    right: -476px;
  }
  .giometric_right{
    margin-top: 62px;
  }
}
@media(max-width: 1245px){
  .button{
    i{
      right: -380px;
    }
  }
  .button:before{
    right: -398px;
  }

}
@media(max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .right_col {
    left: 372px;
    .top_gio{
      right: 20px;
    }
  }
  .symbol{
   left: 401px;
  }
  .button::before{
    right: -324px;
    top: -54px; 
  }
  .button {
    i{
      
      right: -307px;
      top: -37px;
    }
  }
  .swiper-container{
    margin-left: 149px;
  }

}
@media(max-width: 1131px){
  .navbar{
    margin-top: 45px;
  }
  .button::before{
    right: -266px;
    top: -54px; 
  }
  .button {
    i{
      
      right: -249px;
      top: -37px;
    }
  }
}
@media(max-width: 1024px){
  .container{
    max-width: 992px;
  }
  .symbol {
    left: 520px;
  }
  .square{
    max-width: 100%;
  }
  .flex_hor{
    left: 151px;  
  }
  .left_col{
    flex: 0 0 64%;
  }
  body {
    background-size: 62%;
  }
}
@media(max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .right_col{
    left: 330px;
  }
  .symbol{
    left: 413px;
  }
  .giometric_symbols {
    padding-left: 15px;
    margin-top: 58px;
  }
  .giometric_right {
    margin-top: 25px;
    margin-left: 240px;
  }
  .ural {
    padding: 34px 55px;
  }
  .right_col .top_gio {
    right: 47px;
  }
  .swiper-container {
    margin-left: 0px;
    }
}
@media(max-width:855px){
  .container{
    max-width: 700px;
  }
  .giometric_symbols {
    padding-left: 0;
  }
  .giometric_right {
    margin-left: 141px;
  }
  .symbol {
    left: 371px;
}
.flex_hor {
  left: 90px;
}
.yellow_part {
 
  margin-bottom: 54px;
}
.right_col .top_gio {
  right: 7px;
}
}
@media(max-width:796px) {
  .container {
    max-width: none;

  }
}