/** @format */

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraBlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ExtraLightItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Heavy.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-HeavyItalic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-MediumItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Medium.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-LightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./src/fonts/Geometria.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("./src/fonts/Philosopher-Regular.ttf");
  font-weight: 400;
  font-style: regular;
}

body {
  max-width: 1440px;
  position: relative;
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: inherit;
  max-width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  background-size: 720px;
  position: relative;

  @media(max-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }

  @media(max-width: 992px) {
    .container {
      max-width: 750px;
    }
  }

  @media(max-width:767px) {
    .container {
      max-width: none;

    }
  }
}

img {
  max-width: 100%;
}

.yellow_part {
  display: flex;
  justify-content: space-between;
  background-color: #f4e63c;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}


section.wrap {
  position: relative;

  .limited_wrapper {
    position: relative;
    display: flex;

    .top_symbol {
      margin-top: 38px;
      margin-left: 32px;
    }

    .left_col {
      flex: 0 0 50%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 88px;
      background-image: url(../img/left.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;

      .peremennie {
        margin-left: 70px;
        margin-top: 70px;

        span {
          display: block;
          font-size: 14px;
          padding-bottom: 50px;
          font-family: 'Geometria';
          font-weight: 200;
        }
      }

      .flex_hor {
        display: flex;
        position: absolute;
        left: 154px;
        top: 133px;
        z-index: 1000;

        .horizontal_text {
          writing-mode: vertical-rl;
          text-orientation: upright;
          align-self: flex-end;

          p {
            font-size: 9px;
            font-family: "Geometria";
            font-weight: 200;
            font-style: italic;
          }
        }
      }

      .horizontal_num {
        margin-top: 44px;
        margin-right: 173px;
      }
    }
  }
}


.square {
  width: 180px;
}

.giometric_symbols {
  max-width: 310px;
  padding-left: 69px;
  margin-top: 85px;

}

.navbar {
  margin-top: 90px;
}

.navbar-button {
  position: relative;
  display: block;
  margin-top: 42px;
}

.button {
  cursor: pointer;
  position: relative;

  i {
    font-size: 22px;
    position: absolute;
    right: -459px;
    top: -5px;
  }
}

.button:before {
  content: url(../img/button.png);
  position: absolute;
  right: -477px;
  top: -22px;
}

.overlay {
  position: fixed;
  background: #f7e611;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 10000;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.close-menu {
  display: block;
}

.overlay.open {
  ul {
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 190px auto;
    height: 100%;
    width: 100%;

    li {
      padding-bottom: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}

.top_gio {
  max-width: 224px;
  position: absolute;
  z-index: 15;
  right: 264px;
  top: 75px;
}


.symbol {
  position: absolute;
  left: 530px;
  max-width: 150px;
  z-index: 1;
  bottom: -36px;

}

.symbol:after {
  content: url("");
  position: absolute;
  width: 214px;
  height: 10px;
  background-color: rgb(247, 230, 17);
  bottom: -10px;
  left: -20px;
}

/*************right_col////////////////**/
.right_col {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 427px;
  top: 154px;
  z-index: 0;
  width: 790px;
  height: 470px;

  .yellow_part {
    flex-direction: column;
  }

  .giometric_right {
    margin-left: 401px;
    margin-top: 36px;
  }
}